<script type="text/javascript">
     $(document).ready(function() {

//    $("#footy1").hover(function(){
//  $(this).stop().animate({"top" : "-20px"});

// }, function(){
//  $(this).stop().animate({"top": "0"});
// });

//    $("#footy2").hover(function(){
//  $(this).stop().animate({"top" : "-20px"});

// }, function(){
//  $(this).stop().animate({"top": "0"});
// });

//    $("#footy3").hover(function(){
//  $(this).stop().animate({"top" : "-20px"});

// }, function(){
//  $(this).stop().animate({"top": "0"});
// });

//    $("#footy4").hover(function(){
//  $(this).stop().animate({"top" : "-20px"});

// }, function(){
//  $(this).stop().animate({"top": "0"});
// });




});
// </script>
<!-- <div id="footer">
<div class="container">
  <div class="alert alert-info" id="footy1">
  FAQ 
  </div>
  <div class="alert alert-info" id="footy2">
  About Us
  </div>
  <div class="alert alert-info" id="footy3">
  Disclaimer
  </div>
  <div class="alert alert-info" id="footy4">
  Affiliates
  </div>


</div>
</div> -->


