/*#slideshow {
    position:relative;
    height:350px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}*/

#home-slideshow { position:relative; height:410px; width:100%; }
#home-slideshow img { 
	position:absolute; 
	left:0; 
	top:0; 
	height: 400px;
	}
	​
#wrap{
	height:100%;
}